<h1>Romaji Converter</h1>
<%= form_tag romaji_path, method: :post do %>
  <%= button_tag "あ", type: "submit", name: "hiragana", value: "あ" %>
  <%= button_tag "い", type: "submit", name: "hiragana", value: "い" %>
  <%= button_tag "う", type: "submit", name: "hiragana", value: "う" %>
  <%= button_tag "え", type: "submit", name: "hiragana", value: "え" %>
  <%= button_tag "お", type: "submit", name: "hiragana", value: "お" %>
  <br>
  <%= button_tag "か", type: "submit", name: "hiragana", value: "か" %>
  <%= button_tag "き", type: "submit", name: "hiragana", value: "き" %>
  <%= button_tag "く", type: "submit", name: "hiragana", value: "く" %>
  <%= button_tag "け", type: "submit", name: "hiragana", value: "け" %>
  <%= button_tag "こ", type: "submit", name: "hiragana", value: "こ" %>
  <br>
  <%= button_tag "さ", type: "submit", name: "hiragana", value: "さ" %>
  <%= button_tag "し", type: "submit", name: "hiragana", value: "し" %>
  <%= button_tag "す", type: "submit", name: "hiragana", value: "す" %>
  <%= button_tag "せ", type: "submit", name: "hiragana", value: "せ" %>
  <%= button_tag "そ", type: "submit", name: "hiragana", value: "そ" %>
  <br>
  <%= button_tag "た", type: "submit", name: "hiragana", value: "た" %>
  <%= button_tag "ち", type: "submit", name: "hiragana", value: "ち" %>
  <%= button_tag "つ", type: "submit", name: "hiragana", value: "つ" %>
  <%= button_tag "て", type: "submit", name: "hiragana", value: "て" %>
  <%= button_tag "と", type: "submit", name: "hiragana", value: "と" %>
  <br>
  <%= button_tag "な", type: "submit", name: "hiragana", value: "な" %>
  <%= button_tag "に", type: "submit", name: "hiragana", value: "に" %>
  <%= button_tag "ぬ", type: "submit", name: "hiragana", value: "ぬ" %>
  <%= button_tag "ね", type: "submit", name: "hiragana", value: "ね" %>
  <%= button_tag "の", type: "submit", name: "hiragana", value: "の" %>
  <br>
  <%= button_tag "は", type: "submit", name: "hiragana", value: "は" %>
  <%= button_tag "ひ", type: "submit", name: "hiragana", value: "ひ" %>
  <%= button_tag "ふ", type: "submit", name: "hiragana", value: "ふ" %>
  <%= button_tag "へ", type: "submit", name: "hiragana", value: "へ" %>
  <%= button_tag "ほ", type: "submit", name: "hiragana", value: "ほ" %>
  <br>
  <%= button_tag "ま", type: "submit", name: "hiragana", value: "ま" %>
  <%= button_tag "み", type: "submit", name: "hiragana", value: "み" %>
  <%= button_tag "む", type: "submit", name: "hiragana", value: "む" %>
  <%= button_tag "め", type: "submit", name: "hiragana", value: "め" %>
  <%= button_tag "も", type: "submit", name: "hiragana", value: "も" %>
  <br>
  <%= button_tag "や", type: "submit", name: "hiragana", value: "や" %>
  <%= button_tag "ゆ", type: "submit", name: "hiragana", value: "ゆ" %>
  <%= button_tag "よ", type: "submit", name: "hiragana", value: "よ" %>
  <br>
  <%= button_tag "ら", type: "submit", name: "hiragana", value: "ら" %>
  <%= button_tag "り", type: "submit", name: "hiragana", value: "り" %>
  <%= button_tag "る", type: "submit", name: "hiragana", value: "る" %>
  <%= button_tag "れ", type: "submit", name: "hiragana", value: "れ" %>
  <%= button_tag "ろ", type: "submit", name: "hiragana", value: "ろ" %>
  <br>
  <%= button_tag "わ", type: "submit", name: "hiragana", value: "わ" %>
  <%= button_tag "を", type: "submit", name: "hiragana", value: "を" %>
  <%= button_tag "ん", type: "submit", name: "hiragana", value: "ん" %>
  <br>
  <%= button_tag "か", type: "submit", name: "hiragana", value: "か" %>
  <%= button_tag "き", type: "submit", name: "hiragana", value: "き" %>
  <%= button_tag "く", type: "submit", name: "hiragana", value: "く" %>
  <%= button_tag "け", type: "submit", name: "hiragana", value: "け" %>
  <%= button_tag "こ", type: "submit", name: "hiragana", value: "こ" %>
  <br>
  <%= button_tag "さ", type: "submit", name: "hiragana", value: "さ" %>
  <%= button_tag "し", type: "submit", name: "hiragana", value: "し" %>
  <%= button_tag "す", type: "submit", name: "hiragana", value: "す" %>
  <%= button_tag "せ", type: "submit", name: "hiragana", value: "せ" %>
  <%= button_tag "そ", type: "submit", name: "hiragana", value: "そ" %>
  <br>
  <%= button_tag "た", type: "submit", name: "hiragana", value: "た" %>
  <%= button_tag "ち", type: "submit", name: "hiragana", value: "ち" %>
  <%= button_tag "つ", type: "submit", name: "hiragana", value: "つ" %>
  <%= button_tag "て", type: "submit", name: "hiragana", value: "て" %>
  <%= button_tag "と", type: "submit", name: "hiragana", value: "と" %>
  <br>
  <%= button_tag "ば", type: "submit", name: "hiragana", value: "ば" %>
  <%= button_tag "び", type: "submit", name: "hiragana", value: "び" %>
  <%= button_tag "ぶ", type: "submit", name: "hiragana", value: "ぶ" %>
  <%= button_tag "べ", type: "submit", name: "hiragana", value: "べ" %>
  <%= button_tag "ぼ", type: "submit", name: "hiragana", value: "ぼ" %>
  <br>
  


  
  <%#= label_tag :hiragana, "ひらがな" %>
  <%#= text_field_tag :hiragana, @hiragana %>
  <%= submit_tag "クリア" %>
<% end %>
<% if @romaji.present? %>
  <p><strong>ローマ字:</strong> <%= @romaji %></p>
<% end %>