<header class="header">
      <div class="inner">
        <%= link_to image_tag("osudake.png", class: :logo), root_path %>
      </div>
    </header>
<p><strong>▼ 調べたいひらがなをタップしてください</strong></p>
<br>

<% if @romaji.present? %>
  <p><strong>▽ こちらを入力しましょう！
<div class="answer">  
  <%= @romaji %></strong></p>
</div>
<% end %>

<br>
<div class="hiragana-wrapper">
<%= form_tag romaji_path, method: :post do %>
  <div class="hiragana-column">
  あ行
  <%= button_tag "あ", type: "submit", name: "hiragana", value: "あ" %>
  <%= button_tag "い", type: "submit", name: "hiragana", value: "い" %>
  <%= button_tag "う", type: "submit", name: "hiragana", value: "う" %>
  <%= button_tag "え", type: "submit", name: "hiragana", value: "え" %>
  <%= button_tag "お", type: "submit", name: "hiragana", value: "お" %>
  <br>
  か行
  <%= button_tag "か", type: "submit", name: "hiragana", value: "か" %>
  <%= button_tag "き", type: "submit", name: "hiragana", value: "き" %>
  <%= button_tag "く", type: "submit", name: "hiragana", value: "く" %>
  <%= button_tag "け", type: "submit", name: "hiragana", value: "け" %>
  <%= button_tag "こ", type: "submit", name: "hiragana", value: "こ" %>
  <br>
  さ行
  <%= button_tag "さ", type: "submit", name: "hiragana", value: "さ" %>
  <%= button_tag "し", type: "submit", name: "hiragana", value: "shi,si" %>
  <%= button_tag "す", type: "submit", name: "hiragana", value: "す" %>
  <%= button_tag "せ", type: "submit", name: "hiragana", value: "せ" %>
  <%= button_tag "そ", type: "submit", name: "hiragana", value: "そ" %>
  <br>
  た行
  <%= button_tag "た", type: "submit", name: "hiragana", value: "た" %>
  <%= button_tag "ち", type: "submit", name: "hiragana", value: "chi,ti" %>
  <%= button_tag "つ", type: "submit", name: "hiragana", value: "tsu,tu" %>
  <%= button_tag "て", type: "submit", name: "hiragana", value: "て" %>
  <%= button_tag "と", type: "submit", name: "hiragana", value: "と" %>
  <br>
  な行
  <%= button_tag "な", type: "submit", name: "hiragana", value: "な" %>
  <%= button_tag "に", type: "submit", name: "hiragana", value: "に" %>
  <%= button_tag "ぬ", type: "submit", name: "hiragana", value: "ぬ" %>
  <%= button_tag "ね", type: "submit", name: "hiragana", value: "ね" %>
  <%= button_tag "の", type: "submit", name: "hiragana", value: "の" %>
  <br>
  は行
  <%= button_tag "は", type: "submit", name: "hiragana", value: "は" %>
  <%= button_tag "ひ", type: "submit", name: "hiragana", value: "ひ" %>
  <%= button_tag "ふ", type: "submit", name: "hiragana", value: "ふ" %>
  <%= button_tag "へ", type: "submit", name: "hiragana", value: "へ" %>
  <%= button_tag "ほ", type: "submit", name: "hiragana", value: "ほ" %>
  <br>
  ま行
  <%= button_tag "ま", type: "submit", name: "hiragana", value: "ま" %>
  <%= button_tag "み", type: "submit", name: "hiragana", value: "み" %>
  <%= button_tag "む", type: "submit", name: "hiragana", value: "む" %>
  <%= button_tag "め", type: "submit", name: "hiragana", value: "め" %>
  <%= button_tag "も", type: "submit", name: "hiragana", value: "も" %>
  <br>
  や行
  <%= button_tag "や", type: "submit", name: "hiragana", value: "や" %>
  <%= button_tag "ゆ", type: "submit", name: "hiragana", value: "ゆ" %>
  <%= button_tag "よ", type: "submit", name: "hiragana", value: "よ" %>
  <br>
  ら行
  <%= button_tag "ら", type: "submit", name: "hiragana", value: "ら" %>
  <%= button_tag "り", type: "submit", name: "hiragana", value: "り" %>
  <%= button_tag "る", type: "submit", name: "hiragana", value: "る" %>
  <%= button_tag "れ", type: "submit", name: "hiragana", value: "れ" %>
  <%= button_tag "ろ", type: "submit", name: "hiragana", value: "ろ" %>
  <br>
  わ行
  <%= button_tag "わ", type: "submit", name: "hiragana", value: "わ" %>
  <%= button_tag "を", type: "submit", name: "hiragana", value: "を" %>
  <%= button_tag "ん", type: "submit", name: "hiragana", value: "ん" %>
  <br>
  <br>
  </div>
  <div class="hiragana-column">
  が行
  <%= button_tag "が", type: "submit", name: "hiragana", value: "が" %>
  <%= button_tag "ぎ", type: "submit", name: "hiragana", value: "ぎ" %>
  <%= button_tag "ぐ", type: "submit", name: "hiragana", value: "ぐ" %>
  <%= button_tag "げ", type: "submit", name: "hiragana", value: "げ" %>
  <%= button_tag "ご", type: "submit", name: "hiragana", value: "ご" %>
  <br>
  ざ行
  <%= button_tag "ざ", type: "submit", name: "hiragana", value: "ざ" %>
  <%= button_tag "じ", type: "submit", name: "hiragana", value: "じ" %>
  <%= button_tag "ず", type: "submit", name: "hiragana", value: "ず" %>
  <%= button_tag "ぜ", type: "submit", name: "hiragana", value: "ぜ" %>
  <%= button_tag "ぞ", type: "submit", name: "hiragana", value: "ぞ" %>
  <br>
  だ行
  <%= button_tag "だ", type: "submit", name: "hiragana", value: "だ" %>
  <%= button_tag "ぢ", type: "submit", name: "hiragana", value: "ぢ" %>
  <%= button_tag "づ", type: "submit", name: "hiragana", value: "づ" %>
  <%= button_tag "で", type: "submit", name: "hiragana", value: "で" %>
  <%= button_tag "ど", type: "submit", name: "hiragana", value: "ど" %>
  <br>
  ば行
  <%= button_tag "ば", type: "submit", name: "hiragana", value: "ば" %>
  <%= button_tag "び", type: "submit", name: "hiragana", value: "び" %>
  <%= button_tag "ぶ", type: "submit", name: "hiragana", value: "ぶ" %>
  <%= button_tag "べ", type: "submit", name: "hiragana", value: "べ" %>
  <%= button_tag "ぼ", type: "submit", name: "hiragana", value: "ぼ" %>
  <br>
  ぱ行
  <%= button_tag "ぱ", type: "submit", name: "hiragana", value: "ぱ" %>
  <%= button_tag "ぴ", type: "submit", name: "hiragana", value: "ぴ" %>
  <%= button_tag "ぷ", type: "submit", name: "hiragana", value: "ぷ" %>
  <%= button_tag "ぺ", type: "submit", name: "hiragana", value: "ぺ" %>
  <%= button_tag "ぽ", type: "submit", name: "hiragana", value: "ぽ" %>
  <br>
  <br>
  </div>
  <div class="hiragana-column">
  ▼ 小文字一覧
  <br>
  ぁ行
  <%= button_tag "ぁ", type: "submit", name: "hiragana", value: "ぁ" %>
  <%= button_tag "ぃ", type: "submit", name: "hiragana", value: "ぃ" %>
  <%= button_tag "ぅ", type: "submit", name: "hiragana", value: "ぅ" %>
  <%= button_tag "ぇ", type: "submit", name: "hiragana", value: "ぇ" %>
  <%= button_tag "ぉ", type: "submit", name: "hiragana", value: "ぉ" %>
  <br>
  た行
  <%= button_tag "っ", type: "submit", name: "hiragana", value: "xtu" %>
  <br>
  ゃ行
  <%= button_tag "ゃ", type: "submit", name: "hiragana", value: "ゃ" %>
  <%= button_tag "ゅ", type: "submit", name: "hiragana", value: "ゅ" %>
  <%= button_tag "ょ", type: "submit", name: "hiragana", value: "ょ" %>  
  </div>  
  <br>
  <br>
  <div class="hiragana-column">
  ▼ 拗音（ようおん）一覧
  <br>
  きゃ行
  <%= button_tag "きゃ", type: "submit", name: "hiragana", value: "きゃ" %>
  <%= button_tag "きゅ", type: "submit", name: "hiragana", value: "きゅ" %>
  <%= button_tag "きょ", type: "submit", name: "hiragana", value: "きょ" %>
  <br>
  ぎゃ行
  <%= button_tag "ぎゃ", type: "submit", name: "hiragana", value: "ぎゃ" %>
  <%= button_tag "ぎゅ", type: "submit", name: "hiragana", value: "ぎゅ" %>
  <%= button_tag "ぎょ", type: "submit", name: "hiragana", value: "ぎょ" %>
  <br>
  しゃ行
  <%= button_tag "しゃ", type: "submit", name: "hiragana", value: "しゃ" %>
  <%= button_tag "しゅ", type: "submit", name: "hiragana", value: "しゅ" %>
  <%= button_tag "しょ", type: "submit", name: "hiragana", value: "しょ" %>
  <br>
  じゃ行
  <%= button_tag "じゃ", type: "submit", name: "hiragana", value: "じゃ" %>
  <%= button_tag "じゅ", type: "submit", name: "hiragana", value: "じゅ" %>
  <%= button_tag "じょ", type: "submit", name: "hiragana", value: "じょ" %>
  <br>
  ちゃ行
  <%= button_tag "ちゃ", type: "submit", name: "hiragana", value: "ちゃ" %>
  <%= button_tag "ちゅ", type: "submit", name: "hiragana", value: "ちゅ" %>
  <%= button_tag "ちょ", type: "submit", name: "hiragana", value: "ちょ" %>
  <br>
  にゃ行
  <%= button_tag "にゃ", type: "submit", name: "hiragana", value: "にゃ" %>
  <%= button_tag "にゅ", type: "submit", name: "hiragana", value: "にゅ" %>
  <%= button_tag "にょ", type: "submit", name: "hiragana", value: "にょ" %>
  <br>
  ひゃ行
  <%= button_tag "ひゃ", type: "submit", name: "hiragana", value: "ひゃ" %>
  <%= button_tag "ひゅ", type: "submit", name: "hiragana", value: "ひゅ" %>
  <%= button_tag "ひょ", type: "submit", name: "hiragana", value: "ひょ" %>
  <br>
  びゃ行
  <%= button_tag "びゃ", type: "submit", name: "hiragana", value: "びゃ" %>
  <%= button_tag "びゅ", type: "submit", name: "hiragana", value: "びゅ" %>
  <%= button_tag "びょ", type: "submit", name: "hiragana", value: "びょ" %>
  <br>
  ぴゃ行
  <%= button_tag "ぴゃ", type: "submit", name: "hiragana", value: "ぴゃ" %>
  <%= button_tag "ぴゅ", type: "submit", name: "hiragana", value: "ぴゅ" %>
  <%= button_tag "ぴょ", type: "submit", name: "hiragana", value: "ぴょ" %>
  <br>
  みゃ行
  <%= button_tag "みゃ", type: "submit", name: "hiragana", value: "みゃ" %>
  <%= button_tag "みゅ", type: "submit", name: "hiragana", value: "みゅ" %>
  <%= button_tag "みょ", type: "submit", name: "hiragana", value: "みょ" %>
  <br>
  りゃ行
  <%= button_tag "りゃ", type: "submit", name: "hiragana", value: "りゃ" %>
  <%= button_tag "りゅ", type: "submit", name: "hiragana", value: "りゅ" %>
  <%= button_tag "りょ", type: "submit", name: "hiragana", value: "りょ" %>
  <br>
     </div>
    </div>
  </div>
  <%#= label_tag :hiragana, "ひらがな" %>
  <%#= text_field_tag :hiragana, @hiragana %>
  <%= submit_tag "クリア" %>
<% end %>